{% extends "base.html" %}
{% block title %}
  <title>Edit - Task4U</title>
{% endblock title %}
{% block content %}
  <div class="container">
    <br />
    {% if task_obj.owner == request.user %}
      <form method="post">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text"
                 class="form-control"
                 name="task"
                 placeholder="{{ task_obj.task }}"
                 value="{{ task_obj.task }}" />
          <input type="hidden" name="done" value="{{ task_obj.done }}" />
        </div>
        <button type="submit" class="btn btn-primary">Update Task</button>
      </form>
    {% else %}
      <p>Access Restricted, You Are Not Allowed!</p>
    {% endif %}
  </div>
{% endblock content %}
